* {
  border: 1px solid red;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: hsl(0, 0%, 90%);
  font-family: "Montserrat", sans-serif;
}

main {
  min-width: 1200px;
}

/* Title */
h1 {
  font-size: 5rem;
  margin-bottom: 15px;
}

/* Text Area */
#textArea {
  padding: 15px;
  min-width: 100%;
  text-align: left;
  font-size: 1.3rem;
  min-height: 350px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.3),
    0 0 30px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
}

/* Functional Buttons Container */
.btnContainer {
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* Functional Buttons */
.btnContainer button {
  flex: auto;
  color: white;
  transition: 0.3s ease;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: hsl(210, 100%, 55%);
}

/* Functional Buttons Hover Effect */
.btnContainer button:hover {
  transform: scale(1.05);
  background-color: hsl(210, 100%, 65%);
}

/* Clear Button Hover Effect */
#clearBtn:hover::after {
  content: " Clear";
}
#clearBtn:hover i {
  animation: fa-shake 2s infinite;
}
/* Undo Button Hover Effect */
#undoBtn:hover::after {
  content: " Undo";
}
#undoBtn:hover i {
  animation: spin-reverse 1.5s infinite;
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/* Redo Button Hover Effect */
#redoBtn:hover::after {
  content: " Redo";
}
#redoBtn:hover i {
  animation: fa-spin 1.5s infinite;
}
/* Copy Button Hover Effect */
#copyBtn:hover::after {
  content: " Copy";
}
#copyBtn:hover i {
  animation: fa-beat 1s infinite;
}
/* Paste Button Hover Effect */
#pasteBtn:hover::after {
  content: " Paste";
}
#pasteBtn:hover i {
  animation: fa-beat 1s infinite;
}

/* Counter Display Container */
.counterDisplayContainer {
  gap: 10px;
  display: flex;
  margin-top: 30px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* Counter Display Text */
.counterDisplayContainer p {
  flex: auto;
  font-size: 2rem;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: white;
}
